@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

:root {
    --primary-color: #0972AE;
    --secondary-color: #239589;
    --accent1-color: #B18187;
    --accent2-color: #BBD1EA;

    --heading-font: Lobster, serif;
    --paragraph-font: "Open Sans", serif;

    --nav-background-color: #BBD1EA;
    --nav-link-color: #0972AE;
    --nav-hover-link-color: #BBD1EA;
    --nav-hover-background-color: #239589;
}

body {
    font-family: var(--paragraph-font);
}


main {
    max-width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 0;
    left: 10px;
    color: var(--accent2-color);
    background-color: rgba(9, 114, 174, 0.50);
    padding: 0.2rem 0.5rem;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    align-items: center;
    justify-items: center;
}

header nav {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 0.5rem;
}

header nav a {
    display: block;
    padding: 1rem;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

table {
    margin: 3rem auto;
    background-color: var(--accent2-color);
    border: 2px black solid;
}

thead {
    background-color: var(--primary-color);
}

th {
    border: 2px black solid;
    padding: 1.5rem 0.5rem;
}

td {
    padding: 3rem 0.5rem;
    border: 1px black solid;
}

table, thead, tbody, tr, th, td {
    border-collapse: collapse;
}

form {
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    padding: 1rem;
    max-width: 450px;
    margin: 2rem auto;
    gap: 1rem;
}

legend {
    color: var(--primary-color);
}
 
form textarea {
    grid-column: 1/3;
}

form button {
    grid-column: 1/3;
    padding: 0.2rem;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border-radius: 0.5rem;
    border: 0;
}

form button:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer img {
    max-width: 30px;
    grid-row: 1;
}

footer img[alt="wireframe"] {
    max-width: 50px;
    width: 50px;
    margin: 1rem;
}

footer a {
    grid-row: 1;
    grid-column: 1;
}

footer p {
    grid-column: 2;
}

footer {
    margin: 0 auto;
    text-align: center;
    border-top: var(--primary-color) solid 1px;
    display: grid;
}


/* Class Selectors */

.socials {
    grid-column: 3;
    align-self: center;
}

.socials img {
    float: left;
}

.logo {
    height: auto;
    width: 200px;
    grid-column: 2;
}

.hero {
    position: relative;
    margin-top: 2rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    height: auto;
    float: right;
}

.hero article {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 70%;
    background-color: rgba(9, 114, 174, 0.50);
    padding: 1rem;
}

.hero p {
    color: var(--accent2-color);
}

.history {
    display: grid;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    background-color: var(--accent2-color);
    padding: 0 2rem;
}

.history h2 {
    grid-column: 1/4;
    grid-row: 1;
    justify-self: center;
}

.history img {
    height: 200px;
    width: auto;
    margin: 2rem;
    margin-top: 1rem;
    
}

.adventure {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    background-color: var(--accent2-color);
    padding: 0 2rem;
}

.adventure-flex {
    display: flex;
}

.adventure img {
    height: auto;
    width: 125px;
}

.contact-information {
    display: grid;
    grid-column: 1/3;
    gap: 0.5rem;
}

.contact-information input {
    grid-column: 2/4;
}

.contact-information label {
    justify-self: end;
    margin-right: 0.5rem;
}

.contact-reason {
    display: grid;
    grid-column: 1/3;
}

.contact-reason label {
    grid-column: 1;
}

.contact-reason input {
    grid-column: 2/4;
    justify-self: start;
}

.newsletter-signup {
    display: grid;
    gap: 0.5rem;
}

.newsletter-signup input {
    grid-column: 2;
}

.newsletter-signup label {
    justify-self: end;
    margin-right: 0.5rem;
}

.happy-employees {
    display: flex;
    background-color: var(--accent2-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.happy-employees img {
    width: 150px;
    height: auto;
}

.company-contact {
    background-color: var(--accent2-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 3rem 0;
    padding: 1rem 0 2rem;
    display: grid;
    justify-items: center;
    gap: 3rem;
}

.text {
    display: grid;
    gap: 2rem;
}

.text p {
    grid-row: 1;
    font-weight: 700;
}

.call-to-action {
    text-align: center;
    margin: 5rem 0;
}

.call-to-action a {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

.call-to-action a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.trip {
    display: grid;
    margin: 3rem 0;
    background-color: var(--accent2-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    padding-top: 0.5rem;
    gap: 1rem;
}

.trip p {
    grid-column: 2;
}

.trip h2 {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
}

.home-grid {
    display: grid;
    margin: 3rem 0;
}

.home-grid .call-to-action {
    grid-column: 2;
    align-self: center;
}

.home-grid p {
    margin-left: 4rem;
    align-self: center;
    background-color: var(--accent2-color);
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

.image-grid img {
    max-width: 150px;
}